<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Authenticate</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
  <body>
    <form action='/' method='post'>
      <h1>Hey</h1>
      <div>
        <label>Username</label>
        <input type='text' name='username'/>
      </div>
      <div>
        <label>Password</label>
        <input type='text'name='password'/>
      </div>
      <div>
          <label>Device ID</label>
          <input type='text'name='deviceId'/>
        </div>
      <div>
        <button>Sign In</button>
      </div>

    </form>
    
  </body>
</html>